/* ==========
Base Styles 
=============*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	
	font-family: "Open Sans",sans-serif;
	line-height: 2;
	display: block;
    margin: 0 auto;
    background-color: palegoldenrod;
}
.wrapper{
    width: 90%;
    text-align: center;
    margin: 0 5%;
    min-height: calc(100vh - 70px);
}

.box{
    background-color: #f8f8f8;
}
#nav{
    display: inline-block;
    height: 50px;
    width: 100%;
    background-color: white;
    z-index: 999;
}
#logo{
    width:190px;
   height: 50px;
    float: left;
    margin-left: 20px;
    display: none;
}
#font{
    margin-right: 40px;
    display: none;
}
.fa-3x{
    float: right;
    font-size: 30px;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    color: black;
}
#menus{
    float: right;
    margin-right: 20px;
}
#menus li, #contact li{
    display: inline-block;
    padding: 11px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}
#menus li:hover{
    background-color:  grey;
    transition: .6s all;
}
#menus li a, #contact a{
      text-decoration: none;
      color: black;
}
#social{
    margin: 0 auto;
    background-color: white;
    height: 15vh;
    width: 100%;
}
#social button{
    display: inline-block;
    background: black;
    color: white;
    background: #f5a608;
    display: inline-block;
    padding: 6px 0px;
    margin: 30px 8px;
    width: 100px;
    cursor: pointer;
    height: 40px;
    border: black;
    transition: background .3s ease-in-out;
}
#social button p{
    color: black;
    font-weight: 600;
    margin-top: 5px;
    vertical-align: middle;
     font-size: 10px;
}
#social a{
     text-decoration: none;
}
#social i{
    font-size: 16px;
    color: black;
    float: left;
}

.pitch{
    font-family: 'Lobster', cursive;
    font-weight: 700;
    padding: 20px;
    float: left;
    display: inline-block;
    font-size: 20px;
}
.sociallink{
    padding: 3px;
    cursor: pointer;
}
#header{
    width:100%;
	 color:black;
	 margin: 0;
	 font-size: 2.8rem;
	letter-spacing: 5px;
	position: relative;
    text-align: center;
}

.headerpic{
	width: 100%;
	height: auto;
    max-height: 100%;
}

#name{
    color: white;
        letter-spacing: 2px;
    font-size: 2.6rem;
    letter-spacing: 3px;
    line-height:2.5;
    text-align: center;
    text-transform: uppercase;
}

.txt-rotate{
    font-size: 1.1rem;
    letter-spacing: 2px;
    color: white;
    text-align: left;
    letter-spacing: 2px;
}
.positioningtext{
    font-size: 4rem;
    font-weight: 600;
    position: absolute;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fcfaf7;
    font-family: 'Lobster', cursive;
}
/* =======
About me 
======== */
#aboutme{
     margin-top: 45px;
    padding-top: 100px;
    background-color: #f8f8f8;
    width: 100%;
}
#about-container{
padding: 10px;
text-align: center;
height: auto;
width: 100%;
}
#headerpic{
padding: 30px;
height: 320px;
width: 350px;
    vertical-align: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
#about{
width: 65%;
padding: 20px;
display: inline-block;
font-family: "Open Sans",sans-serif;
}
#about h2{
    text-align: left;
}
.spacing {
    margin: 12px 0;
    font-size: 12px;
}
.section-title{
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    
}
.borderline{
	 border-bottom: 1px solid #6d6d6d;
	 width: 40%;
	 margin: 0 auto;
    padding: 20px;
}
/* =======
Education 
======== */

#education{
    background-color: #f8f8f8;
	text-align: center;
    padding-bottom: 20px;
    margin-top: 40px;
}
.textmute {
	color:#777;
	font-size: 14px;
	margin: 10px 0px;
}
.inner-title{
	text-transform:uppercase;
	letter-spacing: 2px;
	font-size: 13px;
	font-weight: 600;
	
}
.button{
	display: inline-block;
       background-color: #f8f8f8;
	text-transform: uppercase;
	text-align: center;
    border: 1px solid black;
	border-radius: 40px;
	width: 140px;
	transition: all .5s;
	color: black;
    font-weight: 600;
	text-decoration: none;
	margin: 20px auto;
	padding: 12px 10px;
	font-size: 11px;
}
.button:hover{
	background-color: black;
    color: white;
}

/* =======
Portfolio
======== */

.portfoliobox{
    margin-top: 45px;
    background-color: #f8f8f8;
    padding-bottom: 20px;
    display: flex;
}
.portfolio-content{
	text-align: center;
	width: 50%;
    height: auto;
    float: left;
    font-family: "Open Sans",sans-serif;
    
}
#portfolio #centering{
    margin: 0 auto;
}
#currentbox{
     background: #e2e2e2;
}
#current{
    width: 100%;
    height: auto;
}
#current ul{
    font-weight: 600;
    font-size: 13px;
    width: 90%;
    text-align: center;
    margin: 40px auto;
    
}
#current ul li{
    display: block;
}
#current img{
    background: url('builderbook.png') no-repeat center center;
}
#current p{
    width: 50%;
}
#current h4{
    font-weight: 400;
    letter-spacing: 1px;
}
#current .button{
    font-size: 0.65rem;
}
.portfolio-content p{
 font-size: 12px;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

.portfolio-content img{
background: url('../portfoliopromo.png') no-repeat center center; 
 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
} 
.portfolio-content .design{
    background: url('../finalprojectpic.png') no-repeat center center; 
 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
.portfolio-content h2{
    font-size: 16px;
}
#portfolio .preview{
	height: 40%;
	width: 60%;
	margin: 10px;
	margin-top: 20px;
	border: 2px solid #bcaf84;
}
.superbox{
    margin-top: 45px;
    background-color: #f8f8f8;
}

/* =======
Contact
======== */

#contact{
     margin-top: 45px;
    padding: 25px 0;
    
}
#contact ul{
    text-align: center;
    
}

#contact li a, #contact h5{
    font-size: 15px;
    font-weight: 500;
    color: #888;
    text-transform: none;
    padding:0 6px;
    text-align: center;
    
}
#footersocial {
    text-align: center;
}
.sociallinkfooter{
    float: none;
    font-size: 22px;
    padding: 15px;
    margin: 0 10px;
    cursor: pointer;
    
}

/* ==========
MEDIA QUERIES
=============*/
@media only screen and  (max-width : 1000px){
    #name{
        text-align: left;
        font-size: 2.4rem;
    }
    .txt-rotate{
        font-size: 1rem;
    }
    #portfolio .preview{
        width: 90%;
    }
    #headerpic{
        width: 390px;
    }
    #about{ 
        width: 90%;
}
    #social .pitch{
        display: none;
    }
     #social .center a{
        text-align: center;
    }
    
}
@media only screen and  (max-width : 850px){
     #logo{
        display: none;
    }
    #aboutme{
        padding-top: 30px;
    }
.headerpic{
	width: 100%;
	height: auto;
    max-height: 100%;
}
    .positioningtext{
        left: 30%;
    }
    #wrap{
        width: 100%;
        margin: 0 auto;
    }
    #name{
        font-size: 2.0rem;
        letter-spacing: 2px;
    }
.txt-rotate{
    font-size: 14px;
    float: left;
}
    #social{
        height: 15vh;
    }
    #social button{
        text-align: center;
    }

    #about-container {
    display: block;
}
    #education{
        margin: 0 auto;
        
    }
    #current p{
        width: 75%;
    }
    .portfolio-content{
    width: 80%;
     height: auto;
    padding: 25px 0;
    margin: 0 auto;
    float: none;
    padding-bottom: 30px;
    }
    .portfoliobox{
        padding: 0;
    }
    .portfolio-content img{
        height: 40%;
    }
    #portfolio .preview{
        width: 80%;
    }
}
@media only screen and  (max-width : 600px){
    #name{
        font-size: 1.8rem;
    }
    #positioningtext{
        left: 40%;
    }
        #social button p{
        display: none;
    }
    #social button{
        width: 40px;
        border-radius: 50%;
    }
    #social button i{
        padding: 0 35%;
        margin: 0;
    }
    #contact h5{
        font-size: 12px;
    }
}
@media only screen and (max-width : 475px){
 
    #menus{
        text-align: center;
         float: none;
        margin: 0;
    }
    #footermenus{
        display: none;
    }
     #menus li{
        padding: 15px 5px;
        float: none;
         font-size: 10px;
    }
    #headerpic {
    margin-bottom: 20px;
    width: 100%;
    max-width: 95%;
    height: auto;
    border-radius: 0%;
    padding: 20px;
    margin: 0 auto;
}
    .positioningtext{
        left: 35%;
    }
    #about h2{
        font-size: 20px;
    }
    #about{
        padding: 0;
    }
    #name{
       font-size: 1.2rem;
        text-align: center;
    }
    .txt-rotate{
        font-size: 0.65rem;
    }
    .button {
        margin: 10px;}
    .sociallink{
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}
    #portfolio .preview {
    width: 90%;
    height: auto;
}
     .portfolio-content{
    width: 95%;
    height: auto;
    padding: 15px 0;
    margin: 0 auto;
    }
    .portfolio-content img{
        height: 30%;
    }
}